@media only screen and (max-width: 546px) {
    /*Android, iPhone 6/7/8/XS/X*/
    header .navbar-logo {
        padding-left: 1rem;
    }

    header .container {
        margin-top: 5rem;
    }

    header .container .col-md-7 h4 {
        font-size: 8vmin;
        padding-left: 1rem;
        color: black;
    }

    .client-homepage header .container .col-md-7 h4 {
        font-size: 8vmin;
        padding-left: 1rem;
    }

    header .container .btn {
        font-size: 14px;
        width: 50vmin;
        margin-left: 1rem;
        background-color: var(--night-blue);
    }

    .section-1 {
        margin-top: -20vmin;
        padding: 2rem 0 1rem 0;
    }

    .section-1 .services {
        color: rgb(0, 0, 0);
        text-decoration: none;
        display: block;
    }

    .section-1 .services a {
        padding: 5rem 3rem 1rem 3rem;
    }

    .section-1 .services p{
        font-size: 12px;
    }

    .section-1 .services h4{
        font-weight: 600;
    }

    .section-2 .cover {
      background-position: -25vmin -10vmin;
    }
    .numbers .rect {
      width: 10rem;
      height: 8rem;
    }
    .numbers .rect h1 {
      font-size: 2rem;
    }
  
    .section-3 {
      height: inherit;
      padding: 10vmin !important;
    }
    .section-3 .row h1 {
      padding: 6vmin 4vmin;
    }
    .section-3 .platform .col-md-6 {
      text-align: center !important;
    }
    .section-3 .desktop i {
      font-size: 8vmin;
    }
    .section-4 .carousel-item {
      padding-left: 0.6rem;
    }
    footer .row .col-md-2 {
      margin-top: 8vmin;
    }

    footer img {
        width: 10rem;
    }

    /*Login Page*/
    .login-Reg-page .container-fluid{
        padding: 0;
    }

    .login-Reg{
        margin: auto;
        box-shadow: none;
        width: 25rem;
    }

    .profile-page .btn{
        width: 10rem;
    }

    .profile{
        box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.5);
        margin: auto;
      }
}

@media only screen and (min-width: 546px) and (max-width: 606px) {
    .profile-page .btn{
        width: 10rem;
    }
}
  
@media only screen and (min-width: 546px) and (max-width: 769px) {
    header .navbar-logo {
        padding-left: 5rem;
    }

    header .container .col-md-7 {
        padding-right: 12rem;
    }

    header .container .col-md-7 h4 {
        font-size: 36px;
        padding-left: 0;
    }

    .client-homepage header .container .col-md-7 h4 {
        font-size: 36px;
        padding-left: 0;
    }

    header .container .btn {
        width: 32vmin;
        margin-left: 0;
    }

    header .container a{
        font-size: 14px;
    }

    .search-container {
        padding-left: 0.1rem;
        width: 70%;
    }

    .services a{
        padding: 8vmin 5vmin 5vmin 5vmin;
    }

    footer .social{
        margin-top: 2rem;
    }
}

@media only screen and (min-width: 770px) and (max-width: 1200px) {
    header .container .col-md-7 h4 {
        padding-left: 5vmin;
    }

    .client-homepage header .container .col-md-7 h4 {
        padding-left: 5vmin;
    }

    header .container .btn {
        width: 35vmin;
        margin-left: 5vmin;
        margin-right: 10vmin;
    }

    .search-container {
        padding-left: 2rem;
        width: 80%;
    }

    .profile-page .btn{
        width: 10rem;
    }
}

@media only screen and (min-width: 1200px){
    header .container .col-md-7 h4 {
        padding-left: 10vmin;
    }

    .client-homepage header .container .col-md-7 h4 {
        padding-left: 10vmin;
    }

    header .container .btn {
        font-size: 18px;
        width: 40vmin;
        margin-left: 10vmin;
        margin-right: 10vmin;
    }

    .search-container {
        padding-left: 4rem;
        width: 60%;
    }

    .profile-page .btn{
        width: 10rem;
    }
}
